<nav class="navbar navbar-expand-lg" style="background-color: #ff0037";>
        <a class="navbar-brand" style="color:#1e2530"  href="/">COVID-19 STATISTICS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" style="color:#1e2530" href="/worldwide">Worldwide</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="/continents">Continents</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="/countries">Countries</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="">Graphs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="">Prognoses</a>
              </li>
          </ul>
        </div>
      </nav>