<nav class="navbar navbar-expand-lg" style="background-color: #ff0037";>
        <a class="navbar-brand" style="color:#1e2530"  href="#">Covid-19 Statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style="color:#1e2530" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="color:#1e2530" href="#">Worldwide</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="#">Continents</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="#">Countries</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:#1e2530" href="#">Graphs</a>
              </li>

              <li class="nav-item">
              <a class="nav-link" style="color:#1e2530" href="#">Worldwide</a>
            </li>
          </ul>
        </div>
      </nav>