<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <div class="page-not-found-block">
        <h1><%= pageNotFound %></h1>
    </div>

<%- include('includes/footer.ejs') %>