<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

<div class="containers">
    <div class="item">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid est voluptatum rerum placeat quam amet magnam libero voluptatibus, consequatur voluptates.</div>
    <div class="item">2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores molestiae dicta adipisci necessitatibus ex, consequuntur quas quod facere quidem voluptate?</div>
    <div class="item">3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum officia vero suscipit hic a deleniti sed sequi eum maxime.</div>
    <div class="item">4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias quaerat eaque assumenda! Blanditiis et quam nulla id, porro repudiandae!</div>
    <div class="item">5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut officia similique officiis sint doloremque numquam necessitatibus voluptatem quae nulla sapiente?</div>
    <div class="item">6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis aspernatur perferendis ut magnam, rerum quam esse maiores sint dolorem.</div>
    <div class="item">7 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi architecto aliquam quibusdam? Quos excepturi a natus consequuntur tenetur dolore maiores?</div>
</div>

<%- include('includes/footer.ejs') %>