<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <div class="container">
        <h1 class="graph-heading">Spread by Continent</h1>
        <div class="odd-graph-container">
            <div class="description-box">
                <h1>Asia</h1>
                <p>This graph shows infected, death, and recovered count per country on the Asian continent.</p>
            </div>
            <div class="chart-box">
                <canvas id="asiaChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>

        <div class="even-graph-container">
            <div class="chart-box">
                <canvas id="africaChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
            <div class="description-box">
                <h1>Africa</h1>
                <p>This graph shows infected, death, and recovered count per country on the African continent.</p>
            </div>
        </div>

        <div class="odd-graph-container">
            <div class="description-box">
                <h1>Australia/Oceania</h1>
                <p>This graph shows infected, death, and recovered count per country on the Australian/Oceanian continent.</p>
            </div>
            <div class="chart-box">
                <canvas id="australiaOceaniaChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>

        <div class="even-graph-container">
            <div class="chart-box">
                <canvas id="europeChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
            <div class="description-box">
                <h1>Europe</h1>
                <p>This graph shows infected, death, and recovered count per country on the European continent.</p>
            </div>
        </div>

        <div class="odd-graph-container">
            <div class="description-box">
                <h1>North America</h1>
                <p>This graph shows infected, death, and recovered count per country on the North American continent.</p>
            </div>
            <div class="chart-box">
                <canvas id="northAmericaChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>

        <div class="even-graph-container">
            <div class="chart-box">
                <canvas id="southAmericaChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
            <div class="description-box">
                <h1>South America</h1>
                <p>This graph shows infected, death, and recovered count per country on the South American continent.</p>
            </div>
        </div>

        <h1 class="graph-heading">Continents</h1>

        <div class="odd-graph-container">
            <div class="description-box">
                <h1>Distribution Between Continents</h1>
                <p>This graph highlights the distribution of the infection in all of the documented continents.</p>
            </div>
            <div class="chart-box">
                <div id="legend"></div>
                <canvas id="continentsChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>

        <h1 class="graph-heading">Global</h1>

        <div class="even-graph-container">
            <div class="chart-box">
                <canvas id="worldChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
            <div class="description-box">
                <h1>Global Statistics</h1>
                <p>This graph presents the spread, morbidity, and recovery from the novel coronavirus since its documented start.</p>
            </div>
        </div>

        <h1 class="graph-heading">Timeline of the Novel Coronavirus</h1>
        
        <div class="chart-box">
            <canvas id="timelineChart" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
    </div>

    <script src="dist/Chart.bundle.min.js"></script>

<%- include('includes/footer.ejs') %>