<%- include('includes/head.ejs') %>

<script type="text/javascript" src="javascripts/index.js"></script>

<div class="background">
    
    <%- include('includes/navigation.ejs') %>

	<div class ="output-header">
		<h1 class="worldwide">Worldwide</h1>
	</div>
    <div id="TotalConfirmed"></div>
    <div id="TotalDeaths"></div>
	<div id="TotalRecovered"></div>
</div>

    
<%- include('includes/footer.ejs') %>