<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <div id="countries"></div>

    <div id="svgMap"></div>

    <script src="dist/svgMap.min.js"></script>

<%- include('includes/footer.ejs') %>