* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body{
    background-image: url('../images/world-117174.png');
}

.containers { 
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    margin: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: rgba(255, 255, 255, 0.863);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}