* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

.containers { 
    box-sizing: border-box;
    background: white;
    margin: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}