* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
}

.countries-table {
    margin: 105px auto 105px auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    max-width: 80%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.countries-table thead tr {
    background-color: darkblue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.countries-table th,
.countries-table td {
    padding: 12px 15px;
    text-align: center;
}

.countries-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.countries-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.countries-table tbody tr:last-of-type {
    border-bottom: 2px solid darkblue;
}

.countries-table tbody tr.active-row {
    font-weight: bold;
    color: darkblue;
}

.flag {
    max-width: 100px;
}

.countries-table th {
    background: darkblue;
    position: -webkit-sticky;
    position: sticky;
    top: 92px;
}

th:after {
    bottom: 0;
    border-bottom: 3px solid blue;
}