* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(14, 17, 24, 0.90),
    rgba(14, 17, 24, 0.90)), url(../images/black-and-white-world.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.countries-table {
    margin: 0 auto 105px auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    max-width: 85%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.countries-table thead tr {
    background-color: #1e2530;
    text-align: left;
}

.countries-table th,
.countries-table td {
    padding: 12px 15px;
    text-align: center;
}

.countries-table tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: rgba(255, 255, 255, 0.85);
    color: #1e2530;
}

.countries-table tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.92);
}

.countries-table tbody tr:last-of-type {
    border-bottom: 2px solid red;
}

.countries-table tbody tr.active-row {
    color: #ff0037;
}

.flag {
    max-width: 100px;
}

.countries-table th {
    background: #1e2530;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    font-weight: bold;
    color: #ff0037;
    opacity: 0.95;
}

th:after {
    bottom: 0;
    border-bottom: 3px solid #ff0037;
}