* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(14, 17, 24, 0.90),
    rgba(14, 17, 24, 0.90)), url(../images/worldwide.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
